/* Para pantallas menores a 600px 
Estilo mobile */

/* 338px pantalla de iphone 4 */

@media (max-width: 600px) {
    /* primer seccion  */
    .products {
        display: inherit;
        height: auto;
    }
    .product {
        margin-top: auto;
    }
    .main_section {
        padding: 4%;
    }

    /* segunda y tercer seccion  */
    .beneficios, .mentions {
        display: inherit;
    }
}